@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

:root {
    --main-color: #64C695;
    --text-color: #2f2963;
    --highlight-color: #454372;
    --background-color: #f8f8f8;
  }

body {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    background-color:antiquewhite;
}

/* -------------------NavBar-------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    
    background-color: var(--main-color);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;

        & .nav-list {
            display: flex;
            list-style: none;
            gap: 1rem;

                & li a {
                    text-decoration: none;
                    color: var(--text-color);
                    font-weight: 600;
                    cursor: pointer;
                }

                & li a:hover {
                    color: white;
                    transition: all 200ms ease;
                }
        }
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);    
}
/* -------------------NavBar-------------------- */

/* -------------------NavBar Hamburger-------------------- */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3 ease-in-out;
    opacity: 0.3;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--main-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 0.6rem;
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 18.75rem;
    border-radius: 1rem;
    margin-top: 0.6rem;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    opacity: 0.3;
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
    opacity: 0.3;
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 0.3;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* -------------------NavBar Hamburger-------------------- */

/* -------------------Header-------------------- */
.header-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    /* height: 50vh; */
    /* background-color: aliceblue; */
    
    & .header-text {
        text-align: center;
    
        & .container {
            display: flex;
            align-items: center;
            justify-content: center;

            & .button button{
                margin-top: 1rem;
                color: var(--text-color);
                background-color: var(--main-color);
                border: 0;
                border-radius: 2rem;
                width: 8rem;
                height: 2.5rem;
                font-weight: 600;
                cursor: pointer;
            }
            & .button button:hover {
                opacity: 0.6;
                color: white;
                transition: all 300ms ease;
            }

            & .social-icons {
                
                & img {
                    width: 2.3rem;
                    margin-top: 1.3rem;
                    margin-left: 0.8rem;
                    background-color: var(--main-color);
                    border-radius: 100%;
                    padding: 10px;
                    cursor: pointer;
                }

                & img:hover {
                    opacity: 0.5;
                    transition: all 300ms ease;
                }
            }
        }
    }

    & .header-img {
        
        & img {
            width: 19rem;
            padding-top: 2rem;
            background-color: #dddddd;
            border-radius: 5rem;
            box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
        }
    }
}
/* -------------------Header-------------------- */

/* -------------------About-------------------- */
#about {
    height: 5rem;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;

    & .about-title {
        text-align: center;
    }

    & .about-square {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .about-square-exp {
            padding: 1.5rem;
            flex: 1;
            background: var(--background-color);
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;
    
            & img {
                width: 2rem;
            }
        }
    
        & .about-square-edu {
            padding: 1.5rem;
            flex: 1;
            background: var(--background-color);
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;
    
            & img {
                width: 2rem;
            }
        }
    }

    & .about-text {
        text-align: start;
        /* width: 60rem; */

        & p {
            display: block;
            text-align: start;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 9rem;
            margin-inline-end: 9rem;
        }
    }
}
/* -------------------About-------------------- */

/* -------------------Experience-------------------- */
#experience {
    height: 5rem;
}

.experience-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    
    & .experience-title {
        text-align: center;
    }

    & .experience-square-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        & .experience-square {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            flex: 1;
            background: var(--background-color);
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;
    
            & .experience-article {
                display: flex;
                text-align: start;
                gap: 3rem;
    
                & .experience-article-container {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    & img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }

    & .experience-training-square {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        flex: 1;
        background: var(--background-color);
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;

        & .experience-article {
            display: flex;
            flex-direction: column;
            text-align: start;
            gap: 1.5rem;

            & .experience-article-container {
                display: flex;
                align-items: center;
                gap: 1rem;
                & img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}
/* -------------------Experience-------------------- */

/* -------------------Project-------------------- */
#project {
    height: 4.3rem;
}

.project-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20rem;

    & .project-square-wrap {
        display: flex;
        gap: 1.5rem;

        & .project-square {
            padding: 0.7rem;
            flex: 1;
            background: #dddddd;
            border-radius: 2rem;
            border: var(--text-color) 0.1rem solid;
            text-align: center;
            
            & img {
                width: 15rem;
                height: 27rem;
                border-radius: 2rem;
                margin-bottom: 0.4rem;
            }

            & .project-button-wrap {
                display: flex;
                justify-content: center;

                & .project-button {
                    display: flex;

                    & button {
                        margin-top: 1rem;
                        color: var(--text-color);
                        /* background-color: var(--main-color); */
                        border: var(--text-color) 0.1rem solid;
                        border-radius: 2rem;
                        width: 8rem;
                        height: 2.5rem;
                        font-weight: 600;
                        cursor: pointer;
                    }
                    & button:hover {
                        color: white;
                        background-color: var(--text-color);
                        transition: all 300ms ease;
                    }
                }
            }
        }
    }
}
/* -------------------Project-------------------- */

/* -------------------Contact-------------------- */
/* #contact {
    height: 1rem;
} */

.contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10rem;

    & .button-wrap {
        display: flex;

        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2rem;
            border: var(--text-color) 0.1rem solid;
            margin: 2rem auto;
            padding: 1.2rem;
            gap: 0.5rem;
            cursor: pointer;

            & img {
                width: 2.5rem;
            }

            & p {
                font-size: 18px;
                letter-spacing: 1.5px;
            }
        }

        & button:hover {
            background-color: #dddddd;
            transition: all 400ms ease;
            box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
        }
    } 
}
/* -------------------Contact-------------------- */

/* -------------------Footer-------------------- */
.footer-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    text-align: center;
}
/* -------------------Footer-------------------- */